:root{
    --primary-color-dark:hsl(179, 62%, 43%);
    --primary-color-light:hsl(71, 73%, 54%);

    --neutral-color-dark:hsl(218, 22%, 67%);
    --neutral-color-light:hsl(204, 43%, 93%);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
  
html {
    box-sizing: border-box;
    font-size: 16px; 
}

body{
    font-family: 'Karla', sans-serif;
    background-color: var( --neutral-color-light);
    line-height: 1.6;
    max-width: 50%;
    margin: 10rem auto;
    max-height: 100vh;
    
}

/* start styling */
.container{
    box-shadow: 0px 5px 19px -5px rgba(0,0,0,0.75);
    border-radius: 5px;
    overflow: hidden;
}

/* header================================================= */
.header{
    background-color: var( --neutral-color-light);
    padding: 3rem;
    background-color: #fff;
}

.header h1{
    color:  hsl(187, 73%, 47%);
    padding-bottom: 1rem;
}

.header h2{
    color:  var(--primary-color-light);
    padding-bottom: .5rem;
}

.header p{
    color: var(--neutral-color-dark);
    font-size: 20px;
    font-weight: 700;
}

/* main content========================================= */
.main{
    display: flex;
    color: var(--neutral-color-light);
}

.subscription{
    width: 50%;
    background-color: var(--primary-color-dark);
    padding: 3rem;
}

.monthly-subscription{
    display: flex;
    align-content: center;

}
.monthly-subscription span{
    font-size: 17px;
    font-weight: 400;
    color: var(--neutral-color-light);
    align-self: center;
    padding-left: 12px;
}

.monthly-subscription .price{
    font-size: 3rem;
    font-weight: 700;
}

.subscription .text{
    font-size: 20px;
}

button{
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color:var(--primary-color-light);
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
}

.why-us{
    width: 50%;
    background-color: hsl(187, 73%, 47%);
    padding: 3rem;
}

.why-us h2{
    padding-bottom: 1rem;
}

/* media query====================================== */
@media only screen and (max-width: 950px) {
    .main{
        flex-direction: column;
    }

    .subscription{
        width: 100%;
    }

    .why-us{
        width: 100%;
    }
    
}

/* attribution ====================================*/
footer{
    text-align: center;
    font-size: 20px;
    padding: 2rem;
}

